1 <!DOCTYPE html>
2 <html lang="en">
3 <%- include('../partials/head') %>
4
5 <body>
6 <div id="wrapper">
7 <%- include('../partials/header') %>
8 <%- include('../partials/navigation') %>
9
10 <main>
11
<%- body %>
12 </main>
13
14 <%- include('../partials/footer') %>